body{
    background-color: #9B8585;
}
#outer-box{
    background-color: #0F4E24;
   /* height: 266px; */
    padding: 48px;
    margin-top: 31px;
    height: 439px;
}
#inner-box{
    padding: 25px;
    margin: 15px;
    background-color: rebeccapurple;
    height: 100%;
    border: solid 5px black;
    height: calc(100% - 96px);
}