.jumbotron{
    background-image: url("../pics/pizza.png");
}
h1{
    text-align: center;
}
.jumbotron >.display-4{
    background-color: rgba(76, 175, 80, 0.4);
    /*opacity: 0.6%;*/
    width: 100%;
    text-align: center;
}
.btn{
    float: right;
}
