@charset "utf-8";
/* CSS Document */
/* Basic Structures Selection */
html{
    font-size: 100%;
}
body{
    //background-image: url("../images/memphis-mini-dark.png");
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
footer{
    width: 960px;
    /*        background-color: green;*/
}
#pagewrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 960px;
    background-color: #ffffff;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header{
    margin: 0;
    padding: 0;
}
/* Navigation Section */
nav{
    position: absolute;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 50px;
}
.innernav{
    width: 700px;
    margin: 0 auto;
    /* background-color: #824f23; */
}
nav ul{
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    width: 150px;
    /* background-color: #ff0; */
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
a:link{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
a:visited{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
a:hover{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
a:focus{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.subnav{
    font-size: 18px;
    font-weight: 400px;
    display: inline;
    width: 300px;
}
.subnav ul{
    text-decoration: none;
    text-align: center;
}
.subnav ul li{
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}
/*Div Spans Section*/
.span01, .span02, .span03, .span04, .span05, .span06, .span07, .span08, .span09, .span10, .span11, .span12{
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.first-child{
    margin-left: 0px;
}
.last-child{
    margin-right: 0px;
}
.span01{
    width: 60px;
    /*         background-color: teal; */
}
.span02{
    width: 140px;
    /*        background-color: darkred;*/
    text-align: center;
}
.span03{
    width: 220px;
    /*         background-color: yellow; */
}
.span04{
    width: 300px;
    /*         background-color: brown; */
}
.span05{
    width: 380px;
    /*        background-color: silver;*/
}
.span06{
    width: 460px;
    /*        background-color: red;*/
}
.span07{
    width: 540px;
    /*        background-color: teal;*/
}
.span08{
    width: 620px;
    /*        background-color: green;*/
}
.span09{
    width: 700px;
    /*        background-color: plum;*/
}
.span10{
    width: 780px;
    /* background-color: orange; */
}
.span11{
    width: 860px;
    /*        background-color: grey;*/
}
.span12{
    width: 940px;
    /* background-color: black; */
}
.reset{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0px;
}
/* Headings & Text Section */

/*h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700px;
    color: #ba1es68;
    text-align: center;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700px;
    margin-bottom: 20px;
    color: #0c164f;
    text-align: center;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 18px;
    color: #0c164f;
    text-align: center;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: 500px;
    margin-bottom: 15px;
    color: #0c164f;
    text-align: center;
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 10px;
    color: #0c164f;
    text-align: center;
}
h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0px;
    color: #0c164f;
    text-align: center;
} */
p{
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    padding: 5px;
    text-align: left;
    line-height: .95rem;
    letter-spacing: .1rem;
}
/* Form Section */
h2.account{
    background-color: black;
    color: #fff;
}
h2.address{
    background-color:black;
    color: #fff;
}
h2.public-profile{
    background-color: black;
    color: #fff;
}
h2.authorization{
    background-color: black;
    color: #fff;
}
h2.emails{
    background-color: black;
    color: #fff;
}
legend{
    background-color: #dedede;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    -moz-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.3em 1em;
}
fieldset{
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    margin-bottom: 12px;
    overflow: hidden;
    padding: 0 10px;
}
.form{
    background-color: #fff;
    list-style: none;
    padding: 12px;
    margin: 0.5em 0;
}
label{
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
}
input, select, button {
    font: inherit;
}
.small {
    width: 75px;
}
.medium {
    width: 150px;
}
.large {
    width: 250px;
}
textarea {
    font: inherit;
    width: 620px;
}
.instructions {
    font-size: 75%;
    padding-left: 167px;
    font-style: italic;
}
.create_profile {
    background-color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #333;
    width: 150px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    padding: 8px;
}
.radios {
    background: none;
    display: inline;
    margin-left: 350px;
    margin-right: auto;
    padding: 0;
}
.radios ul {
    border: none;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.radios li {
    margin: 0;
    display: inline-block;
}
.radios label {
    margin-right: 25px;
    width: auto;
}
.radios input {
    margin-top: 3px;
}
.checkboxes label {
    text-align: left;
    width: 475px;
}
button * {
    vertical-align: middle;
}
/* Header Styling */
/* #headimage{ */
/* margin-left: 10px; */
/* margin-right: 10px; */
/* margin-top: 0px; */
/* margin-bottom: 0px; z-index: -1; */
/* border-radius: 20px */
/*}
/* .logo{ */
/* position: absolute; */
/* } */
/* Banner Section */
adBanner{
    border-radius: 800px;
}