body{
    background-image: url("../pics/memphis-mini-dark.png");
}
.fancy-header{
    color: rebeccapurple;

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: "Lucida Console", Courier, monospace;
}
#container{
    background-color: antiquewhite;
    margin: 10px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: large;
    padding: 20px;
    margin: 50px;
}
.image{
    width: 500px;
    height: 400px;
    margin-left: 5px;
    margin-bottom: 5px;

}
.vision{
    text-align: center;
}
ul {
    list-style-type: circle;
    list-style-position: outside;
}
ol {
    list-style-position: outside;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: lightsalmon;
}

a:active {
    color: blue;
}
/*background-color: rgba(0,0,0,0.2); does opacity -the 0.2 */